.green-btn {
    background: #5fcf80;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    font-size: 14px;
}

#admin-nav {
    text-align: left;
    text-decoration: none;
}

.img-avatar {
    max-width: 180px;
    max-height: 180px;
}